configuration {
  modi: "drun";
  display-drun: "";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 10";
  show-icons: true;
}

@theme "/home/elirium/.local/share/rofi/themes/spotlight.rasi"